<h1>Orders</h1>

<div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
    {{#each orders}}
      <div>
          <div class="uk-card uk-card-primary uk-card-body">
              <h3 class="uk-card-title">Order</h3>
              <p class="date">{{date}}</p>
              <ol>
                {{#each courses}}
                  <li><b>{{course.title}}</b> <em>(x{{count}})</em></li>
                {{/each}}
              </ol>
              <h4>PRICE: <span class="price">{{price}}</span></h4>
          </div>
      </div>
    {{/each}}
    {{#else}}
      <p>There is no order here yet!</p>
    {{/else}}
</div>