<div class="uk-margin-large uk-margin-top">
  <h1>Profile</h1>
</div>
<div class="uk-margin-top uk-grid uk-child-width-1-4 uk-flex-center">
  <div>
    <div class="avatar"><img src="" alt=""></div>
    <p class="uk-text">You don't have avatar</p>
  </div>
  <div>
    <form>
      <div uk-form-custom>
          <input type="file">
          <button type="uk-button uk-button-default">Upload avatar</button>
      </div>
      <div class="uk-margin">
        <input class="uk-input uk-form-width-medium uk-form-small" type="text" name="name" placeholder="Name">
    </div>
      <div class="uk-divider"></div>
      <button class="uk-button uk-button-default" type="submit">Save</button>
    </form>
  </div>
</div>