<div class="uk-child-width-expand@s uk-text-center uk-margin-medium-top" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
          <h2>Forget password?</h2>
          <div class="uk-child-width-1-2 uk-flex uk-flex-center">
            <form method="POST" action="/auth/reset">
              {{#if error}}
                <div class="uk-alert-danger" uk-alert>
                    <a class="uk-alert-close" uk-close></a>
                    <p>{{error}}</p>
                </div>
              {{/if}}
              {{#if success}}
                <div class="uk-alert-success" uk-alert>
                    <a class="uk-alert-close" uk-close></a>
                    <p>{{success}}</p>
                </div>
              {{/if}}
              <fieldset class="uk-fieldset">
                  <div class="uk-margin">
                      <label class="uk-form-label" for="form-email">Email</label>
                      <input class="uk-input" required type="text" name="email" id="form-email">
                  </div>

                  <input type="text" hidden name="_csrf" value="{{csrf}}">

                  <button type="submit" class="uk-button uk-button-primary">Reset password</button>
              </fieldset>
            </form>
          </div>
        </div>
    </div>
</div>