.course-img {
  max-width: 100%;
  height: 233px;
  display: block;
}

.avatar {
  background-color: #ccc;
  height: 150px;
  width: 150px;
  border-radius: 5px;
  display: block;
}
.avatar img {
  max-width: 100%;
}